<a href="https://colab.research.google.com/github/hongdaestreet/AI-python/blob/main/240104.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
i = 1
while i <= 4:
    print(i, 'Welcome')
    for j in range(1,4):
        print(j, "Hello")
    i += 1
print('Done')

1 Welcome
1 Hello
2 Hello
3 Hello
2 Welcome
1 Hello
2 Hello
3 Hello
3 Welcome
1 Hello
2 Hello
3 Hello
4 Welcome
1 Hello
2 Hello
3 Hello
Done

In [3]:
num_t = (1,2,3)
num_t[1] = 2    # 튜플은 변경 불가

num_l = [1,2,3]
num_l

TypeError: ignored

In [6]:
score= [[29, 28, 27, 30],
    [30, 20, 27, 29],
    [23, 25, 29, 30]]
for r in range(len(score)):
    for c in range(len(score[r])):
        print(score[r][c], end=" ")
    print()

29 28 27 30
30 20 27 29
23 25 29 30

In [5]:
a = ['10','20','30']
a=list(map(int,a))
print(a)
print(sum(a))

[10, 20, 30]
60

In [14]:
score = []

while True:
    s = input('학생의 점수를 입력하세요.')
    if s.isdigit():
        score.append(s)
    else:
        break

score = list(map(int, score))

print("입력 데이터 출력 : ", score)
print("합계 : ", sum(score))
print("인원수 : ", len(score))
print("평균 : ", sum(score)/len(score))

학생의 점수를 입력하세요.90
학생의 점수를 입력하세요.70
학생의 점수를 입력하세요.30
학생의 점수를 입력하세요.x
입력 데이터 출력 :  [90, 70, 30]
합계 :  190
인원수 :  3
평균 :  63.333333333333336