<a href="https://colab.research.google.com/github/hongdaestreet/AI-python/blob/main/5_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%8B%AC%ED%99%94_%EB%AC%B8%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1. split & join

In [ ]:
# split: 문자열을 특정 구분자로 나누어 리스트로 반환하는 메소드
data = "John,30,Engineer\nAlice,25,Designer\nBob,22,Artist"
lines = data.split("\n")
lines

['John,30,Engineer', 'Alice,25,Designer', 'Bob,22,Artist']

In [ ]:
for line in lines:
    fields = line.split(",")
    print("Name:", fields[0], "Age:", fields[1], "Occupation:", fields[2])

Name: John Age: 30 Occupation: Engineer
Name: Alice Age: 25 Occupation: Designer
Name: Bob Age: 22 Occupation: Artist

In [ ]:
# join: 리스트의 각 요소를 문자열로 변환하고, 주어진 구분자로 결합하여 하나의 문자열로 반환
words = ['Hello', 'world', 'this', 'is', 'a', 'test']
sentence = ' '.join(words)
print(sentence)

Hello world this is a test

In [ ]:
# split in string
a = "Geeks for Geeks"
s = a.split(" ")

print(s)

['Geeks', 'for', 'Geeks']

In [ ]:
# Join the list of strings
a = "Geeks for Geeks"
s = a.split(" ")

j = "-".join(s)
print(j)

Geeks-for-Geeks

### list comprehension

new_list = [expression for item in iterable if condition]

In [ ]:
squares = [x**2 for x in range(5)]
print(squares) # [0, 1, 4, 9, 16]

[0, 1, 4, 9, 16]

In [ ]:
# 1~20 3의 배수 제곱 리스트

lc = [x**2 for x in range(1,21) if x%3 == 0]
lc

[9, 36, 81, 144, 225, 324]

In [ ]:
# Lab
l1 = [1,2,3,4,5]

lc1 = [x**2 for x in l1]
print(lc1)

[1, 4, 9, 16, 25]

In [ ]:
# Lab
l2 = ["Seoul", "New York", "London", "Shanghai", "Paris", "Tokyo"]

lc2 = [x for x in l2 if x[0] == 'S']
print(lc2)

['Seoul', 'Shanghai']

### enumerate & zip

enumerate: 순회 가능한 객체(예: 리스트)를 인덱스와 함께 반환

In [ ]:
fruits = ['apple', 'banana', 'cherry']
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

In [ ]:
# Lab
l1 = ['a','b','c']

for i, l in enumerate(l1):
    print(f"fruit{i} name is {l}")

fruit0 name is a
fruit1 name is b
fruit2 name is c

In [ ]:
# Lab
l2 = ['a','b','c']

for i in range(3):
    print(f"fruit{i} name is {l2[i]}")

fruit0 name is a
fruit1 name is b
fruit2 name is c

zip: 두 개 이상의 순회 가능한 객체를 병렬적으로 순회하면서 각 항목을 튜플로 묶어 반환.

In [ ]:
names = ['John', 'Jane', 'Doe']
ages = [25, 30, 35]
for name, age in zip(names, ages):
    print(f"{name} is {age} years old.")

print(zip(names,ages))
z = tuple(zip(names,ages))
print(z)

John is 25 years old.
Jane is 30 years old.
Doe is 35 years old.
<zip object at 0x7dfb7cb81dc0>
(('John', 25), ('Jane', 30), ('Doe', 35))

In [ ]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]

dic = dict(zip(keys, values))
print(dic)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

l = [sum(i) for i in zip(list1,list2,list3)]
print(l)

[12, 15, 18]

In [ ]:
# Lab_zip

name = [ "M", "N", "S", "A" ]
roll_no = [ 4, 1, 3, 2 ]

t = tuple(zip(name,roll_no))
dic = dict(t)

{'M': 4, 'N': 1, 'S': 3, 'A': 2}

In [ ]:
names = ['M', 'R', 'C']
ages = [24, 50, 18]

ze = [print(f"{index} {name} ") for index, name in enumerate(names)]

0 M
1 R
2 C

In [45]:
num = list(map(int, input().split()))
if num[0] != num[1] and num[0] != num[2] and num[1] != num[2]:
	num.sort(reverse = True)
	for i in num:
		print(i, end =" ")
else:
	print("wrong value")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [46]:
num = list(map(int, input().split()))
if num[0] != num[1] and num[0] != num[2] and num[1] != num[2]:
	num.sort(reverse = True)
	for i in num:
		print(i, end =" ")
else:
	print("wrong value")

1 40 50
50 40 1

In [36]:
sec = int(input())
h = sec // 3600
s = sec % 60
m = (sec-h*3600-s) // 60
print(f"{h}시 {m}분 {s}초")

11730
3시 15분 30초

In [41]:
num = list(map(int, input("세 정수를 입력하세요: ").split()))

if num[0] != num[1] and num[0] != num[2] and num[1] != num[2]:
    num.sort(reverse=True)
    for i in num:
        print(i, end=" ")
else:
    print("잘못된 값이 입력되었습니다.")

세 정수를 입력하세요: 1 2 5
5 2 1